.match-card{

background:#1e293b;

border-radius:12px;

padding:20px;

transition:0.3s;

}

.match-card:hover{

transform:scale(1.05);

}

.teams{

display:flex;
justify-content:space-between;

font-size:20px;

}

.predict-btn{

margin-top:20px;

background:#22c55e;

border:none;

padding:10px 20px;

cursor:pointer;

}
